@import "tailwindcss";

:root {
  /* --backdrop: #061a33e1; */
  --backdrop: #021e41e9;
  --background: #0B1120;
  --casualTextGray: #C0D6ED;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-backdrop: var(--backdrop);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --color-casualTextGray: var(--casualTextGray);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  background: var(--backdrop);
  casualTextGray: var(--casualTextGray);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
